body{
    margin:0;
    
    font-family: Nunito Sans;
   
}
.menu-sect{
    background-image: linear-gradient(200deg,rgb(73, 73, 113), rgb(52, 134, 134),rgb(52, 129, 155));
}
header{
    display: flex;
    justify-content: space-between;
    margin: 0px 50px;
   
    
    
}
.navbar-brand{
    color: rgb(0, 0, 0);
    
}
.menu ul{
    display:flex;
    list-style: none;
     margin:0;
}

.menu ul li{
    margin:0px 5px 0 5px;
    padding:5px;
    color:rgba(255, 255, 255, 0.823);
    font-weight: 600;
    border-radius: 4px;
    cursor:pointer;
}




h1{
    font-size: 25px;
    letter-spacing: 2px;
    line-height: 0;
}
h2{
    font-size: 30px;
    line-height: 1;
}
.color-highlight{
    color:orangered;
}


.first-section{
    height: 500px;
    line-height: 2;
    background: url(https://img.freepik.com/free-vector/paper-style-dynamic-lines-background_23-2149008629.jpg?t=st=1731086698~exp=1731090298~hmac=97c9aa79b388c23d1c8f1821fe04383e4ae7b8e142eb23562e223029dfaef2d4&w=826);
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color:white;
}
.half-width{
    width: 40%;
    margin-left: 7%;
    
}
.top-details{
    margin-top:7%;
}

.half-width img{
    width: 100%;
    
}
.find-btn{
    margin-top:3px;
    padding:10px 15px;
    background-image: linear-gradient(tomato, orangered);
    color:wheat;
    text-decoration: none;
    border-radius: 5px;
    font-weight: 600;
}

.second-section{
    height: 32em;
    display: flex;
}

.second-section h1{
   
    text-align: center;
    font-size: 40px;
   

}

.experience-sect{
    /* display: flex; */
    
}

.e-img{
    width: 50%;
    float: left;
    
}
.second-section img{
    width: 100%;
    scale: 0.8;
    border-radius: 50%;
}
.e-details{
    width: 50%;
    float: right;
}